/* Body */
/* Scoreboard */
.scoreboard-app {
  margin-top: 1rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  width: 700px;
}
.scoreboard-title {
  text-align: center;
  font-size: 3.5rem;
}
@media screen and (max-width: 812px) and (orientation: landscape) {
  .scoreboard-title {
    text-align: right;
  }
 }

/* Players */
.players-container {
  border-top: 2px solid white;
  background-color: #598aea;
  font-size: 3rem;
}
.player-score {
  display: inline-block;
  width: 1.8em;
  text-align: center;
}

.player-name+.player-counter {
  padding: 5px;
}
.player-counter {
  text-align: right;
}
.player-name:hover {
  text-decoration: line-through;
  text-decoration-color: #d9534f;
  -moz-text-decoration-color: #d9534f;
}
.player-name:hover .glyphicon-remove {
  visibility: visible;
}

@media only screen and (max-width: 991px) {
    /* For mobile devices: */
    .player-name .glyphicon-remove {
      visibility: visible;
    }
  }
 .glyphicon-remove {
  visibility: hidden;
  padding-left: 5px;
  font-size: 0.9em;
  color: #d9534f;
  border: none;
  background: none;
}

.horizonal-rule {
  border: 1px solid white;
}
.btn {
  box-shadow: 0 1px 6px 1px black;
}
/* Decrement Button */
.btn-danger {
   width: 4.6rem;
}

/* Player Transitions */
.fade-enter {
  opacity: 0;
}

/* end state of animation */
.fade-enter-active {
  opacity: 1;
  transition: 0.5s ease-in all;
}

.fade-leave {
  opacity: 1
}

.fade-leave-active {
  opacity: 0;
  transition: 1s ease-out all;
}


/* Stats Table */
.stats {
  font-size: 2rem;
  margin-bottom: 0;
}
.table>tbody>.total-players-td-row>td {
  border:none;
}

/* Add Player */
form {
  margin-top: 1.5%;
}

/* Timer */
.progress {
  margin-bottom: 1rem;
  border: 1px solid #fff;
}
.progress span {
  background: #000;

  height: 100%;
  float: right;
}
.time {
  font-size: 2rem;
}
.controls {
  padding-bottom: 1rem;
}
.pause {
  margin: 0 1rem;
}
